.quizz-creation-instructions{
    background: #e5e5e5;
    height: 158px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 69px;
    font-size: 20px;
}
.quizz-creation-screen .quizz-container{
    margin-top: 21px;
    margin-bottom: 29px;
    padding-left: 16px;
    padding-right: 18px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}
.input-quizz-info{
    width: 341px;
    height: 46px;
    border-radius: 5px;
    border: #d1d1d1 1px solid;
    color: #bababa;
    margin-bottom: 14px;
    padding-left: 14px;
    font-size: 19px;
    font-style: italic;
    margin-left: auto;
    margin-right: auto;
}
.click-to-continue, .return-to-home{
    background: #ec362d;
    color: #FFF5F4;
    font-size: 18px;
    width: 323px;
    height: 54px;
    border-radius: 15px;
    border: #d1d1d1 1px solid;
    margin-left: auto;
    margin-right: auto;    
}
.fill-out-questions .quizz-creation-instructions{   
    background: #fafafa; 
    height: 20px;
    width: auto;
    display: flex;  
    margin-top: 28px;
    margin-bottom: 14px;
    justify-content: space-between;
}
.quizz-creation-instructions ion-icon{
    font-size: 26px;
    color: #000000;
}
.quizz-container.fill-out-questions{
    margin-top: 21px;
    margin-bottom: 29px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 18px;
    display: flex;
    flex-direction: column;
}
.compacted{
    height: 64px;
    padding-top: 5px;
    padding-bottom: 5px;
    overflow: hidden;
    display: flex;
    align-content: initial;
    flex-direction: column;
}
.question-box{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.question-creation-screen{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.return-to-home{
    color: #818181;
    border: none;
    background: #fafafa;
}
.hidden{
    display: none;
}


