.quizz-logo {
    display: flex;
    justify-content: center;
    margin-top: 69px;
    height: 142px;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.6);
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("https://static1.srcdn.com/wordpress/wp-content/uploads/2020/05/HP-Hogwarts-Featured.jpg");
    object-fit: cover;
    opacity: 0.8;
}

.quizz-logo h1 {
    color: #fff;
    font-size: 10vh;
    text-align: center;
    margin: auto 0;
    font-weight: 400;
}

.quizzes.screen2 {
    width: 60vw;
    display: flex;
    flex-direction: row;
    margin: 42px auto 42px auto;
    justify-content: center;
}

.quizz.screen2 {
    width: 90%;
    /* padding: 2px; */
    /* border: 3px solid whitesmoke; */
    /* background-color: #E5E5E5; */
    margin: 14px auto 30px auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

ul {
    background-color: rgb(0, 0, 0, 0.02);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

li {
    display: block;
    background-color: #fff;
    margin: 25px 0;
    padding-top: 40px;
}

li:first-of-type {
    margin-top: 2px;
}

.quizzes.screen2 h1 {
    color: #fff;
    background-color: red;
    width: 90%;
    margin: auto;
    height: 10vh;
    font-size: 3vh;
    font-weight: 700;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quizz .img {
    width: calc(50% - 25px);
    margin: 18px 0px;
}

.quizz .img:nth-child(odd) {
    margin-right: 50px;
}

.quizz .img img {
    width: 100%;
}

.quizz .img h2 {
    margin: 6px auto 0px 0px;
    font-weight: 700;
}

.score .quizz .img h2 {
    margin: 6px auto 0px 0px;
    font-size: 2vh;
    font-weight: 700;
}

.hidden-opacity {
    opacity: 0.5;
    transition: opacity 0.4s ease-in-out;
}

.hidden-name {
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.card-border {
    border: 2px solid orange;
    transition: border 0.4s ease-in-out;
}

.hidde-page {
    visibility: hidden;
}

.score {
    position: absolute;
    top: 50%;
}

.score .quizz.screen2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.buttons {
    display: flex;
    flex-direction: column;
    margin: 16px auto;
}

.score .buttons button {
    margin: 5px auto;
    height: 52px;
    width: 60%;
    border: 0px solid #000;
    border-radius: 5px;
    font-size: 20px;
}

.score .buttons button.restart {
    background-color: #EC362D;
    color: #FFF5F4;
}

.score .buttons button.home {
    background-color: whitesmoke;
    color: #818181;
}
