.quizz-creation-instructions{
    background: #e5e5e5;
    height: 158px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 69px;
    font-size: 20px;
}

.quizz-creation-screen .quizz-container{
    margin-top: 21px;
    margin-bottom: 29px;
    padding-left: 16px;
    padding-right: 18px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.input-quizz-info{
    width: 341px;
    height: 46px;
    border-radius: 5px;
    border: #d1d1d1 1px solid;
    color: #bababa;
    margin-bottom: 14px;
    padding-left: 14px;
    font-size: 19px;
    font-style: italic;
    margin-left: auto;
    margin-right: auto;
}

.click-to-continue{
    background: #ec362d;
    color: #FFF5F4;
    font-size: 18px;
    width: 323px;
    height: 54px;
    border-radius: 15px;
    border: #d1d1d1 1px solid;
    margin-left: auto;
    margin-right: auto;    
}